[Unit]
Description=MQTT Prometheus Export 

[Service]
User=grafana
WorkingDirectory=/home/grafana/mqttexporter
ExecStart=/home/grafana/mqttexporter/venv/bin/python3 exporter.py
TimeoutSec=10

[Install]
WantedBy=multi-user.target
